.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
  background-color: rgb(82, 80, 80);
  justify-content: start;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(181, 183, 190);
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.menu-label {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}

.menu-label:hover {
  background-color: rgb(240, 235, 235);
}

.menu-option {
  position: absolute;
  opacity: 0;
}

.profile-container {
  margin-top: 50px;
}

.profile-container img {
  height: 50vh;
  width: 30vw; /* Adjust as needed */
  border-radius: 50%; /* Makes it circular */
  display: block;
}
